# Editor files
/.vscode/
/example-project/EZPlatformer/.vscode/

# Example project
/example-project/EZPlatformer/export
/example-project/EZPlatformer/fmod/.cache
/example-project/EZPlatformer/fmod/.user
/example-project/EZPlatformer/fmod/.unsaved/
/example-project/EZPlatformer/fmod/Build

# Builds
haxefmod.zip
haxe-fmod.zip

# Generated code
*raw.js

# C++
/faxe/obj/
