lib/api/*
lib/bin/*
lib/doc/*
test/cpp
/test2/cpp
/test2/BUILD_WIN_DEBUG.bat
/test2/toto.txt
/test2/totoErr.txt
/lib/Switch/api
/test3/cpp

# Editor files
/.vscode/
/example-project/EZPlatformer/.vscode/

# FMOD
/example-project/EZPlatformer/export
/example-project/EZPlatformer/fmod/.cache
/example-project/EZPlatformer/fmod/.user
/example-project/EZPlatformer/fmod/.unsaved/
/example-project/EZPlatformer/fmod/Build

# Builds
haxe-fmod.zip
/build

# Generated code
*raw.js
